<h2>Asset Helpers</h2>

<!-- <img src="http://www.placecage.com/300/300" alt="Scary Nicholas Cage"> -->

<%= image_tag "http://www.placecage.com/300/300", :alt => 'Nic' %>

<!-- <img src="/assets/smoking.jpg" alt="Kids lighting up"> -->

<%= image_tag "smoking.jpg", :alt => 'Kids lighting up', :class => 'kids' %>

<p>There is also: video_tag, audio_tag</p>
