<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wall Street Stock Price Lookup</title>
  <link rel="stylesheet" href="/css/wallstreet.css">
</head>
<body>
  <div class="container">
    <h1>Wall Street Stock Price Lookup</h1>
    <%= yield %>
  </div>
</body>
</html>
