/* The Pesticide plugin is a browser extension to do the same as the following */

/* * { border: 1px solid green; } */

body {
  background-color: #222; /* Equivalent to: #222222 */
  padding: 0;
  margin: 0;
}

.container {
  max-width: 960px; /* Lazy way to make a responsive container */
  margin: 0 auto;
  background-color: #ccc;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav {
  text-align: right;
}

nav a {
  color: green;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #ccc;
  padding: 1em;
}

main {
  display: inline-block;
  width: 75%;
}

main img {
  display: block;
  margin: 0 auto;
}

aside {
  display: inline-block;
  width: 21%; /* 75% + 21% is 100% when you're in CSS */
  vertical-align: top;
  background-color: #cfc;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px #222;
}

aside ul {
  padding-left: 17px;
}
