
<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>Welcome To Tunr</h1>
  </div>
</div>

<div class="row">

  <div class="col-md-3">
    <h2>Trump Killed</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum praesentium nemo fugit quae itaque, provident, dolor repudiandae illum aliquam voluptas ipsa ut distinctio dicta. Labore nulla, accusantium soluta repellendus repellat.</p>
  </div>

  <div class="col-md-6">
    <h2>Royal Family Actually Lizards</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, excepturi architecto illum, nisi modi error. Accusantium vero magni, nam soluta, neque optio dolorem, eveniet praesentium non possimus nostrum perferendis sit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quibusdam sit quis blanditiis quasi recusandae atque mollitia similique neque, pariatur voluptates quam. Nam nulla, minima dolores reprehenderit quae facere vel?</p>
  </div>

  <div class="col-md-3">
    <h2>Moon landing faked</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste atque explicabo est quaerat ullam perspiciatis repellat! Numquam quae, vel? Quae perferendis vel, corporis iure sed reiciendis quisquam hic debitis sint.</p>
  </div>
</div>
