<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Web Calculator</title>
  <link rel="stylesheet" href="/css/calculator.css">
</head>
<body>
  <h1>Crappy Web Calculator</h1>

  <!-- The yield keyword will be replaced with whatever custom content from another file-->
  <%= yield %>

  <footer>
    &copy; COPYRIGHT THE BLADE 2019 ALL RITES REVERSED
  </footer>

</body>
</html>
