<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Example</title>
  <link rel="stylesheet" href="css/layout.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>
      <h1>TITLE</h1>
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://fillmurray.com/400/601" alt="Bill Murray looking handsome">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, a at quasi nobis voluptates molestiae est consectetur adipisci, asperiores obcaecati accusantium perferendis recusandae illum dignissimos dolor iusto fugit, aliquid! Soluta.</p>
      <p>Modi facere sint eius vero, accusamus? Consequatur officiis ad hic, eaque, ullam iusto consequuntur molestiae reprehenderit voluptate, quos excepturi iste atque quaerat, eligendi quasi. Quos asperiores blanditiis dolorum sed, culpa?</p>
      <p>Temporibus esse harum quibusdam, doloremque ex autem mollitia itaque dolorum impedit. Mollitia, itaque esse saepe, laborum est nulla quos accusantium eius rem voluptas voluptatum assumenda atque ea, harum et porro.</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Zeppo</li>
      </ul>
    </aside>
  </div>

</body>
</html>
